@import url("https://fonts.google.com/specimen/Kumbh+Sans");
* {
  font-family: "Kumbh Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1000px;
  height: 100vh;
}

.hidden {
  display: none;
}

nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
  margin: 0 auto;
}
nav .nav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}
nav .nav-container .nav_left-sec {
  display: flex;
  align-items: center;
}
nav .nav-container .nav_left-sec .nav-links {
  margin-left: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  color: hsl(219deg, 9%, 45%);
}
nav .nav-container .nav_left-sec .nav-links .nav_link {
  cursor: pointer;
  height: 100%;
  position: relative;
}
nav .nav-container .nav_left-sec .nav-links .nav_link:hover::after {
  content: "";
  position: absolute;
  bottom: -15px;
  border-radius: 10px;
  display: block;
  background-color: hsl(26deg, 100%, 55%);
  width: 100%;
  height: 3px;
}
nav .nav-container .nav_right-sec {
  display: flex;
  align-items: center;
  gap: 2rem;
}
nav .nav-container .nav_right-sec .cart-container {
  position: relative;
}
nav .nav-container .nav_right-sec .cart-container .cart-btn {
  background-color: transparent;
  border: none;
}
nav .nav-container .nav_right-sec .cart-container .cart-btn .indicator {
  background-color: hsl(26deg, 100%, 55%);
  padding: 0.3rem 0.5rem;
  border-radius: 50%;
  color: hsl(0deg, 0%, 100%);
  position: absolute;
  top: -15px;
  right: -10px;
}
nav .nav-container .nav_right-sec .cart-container .cart-btn .cart {
  cursor: pointer;
}
nav .nav-container .nav_right-sec .cart-container .cart-btn .cart:hover {
  filter: brightness(0%);
}
nav .nav-container .nav_right-sec .cart-container .cart-wrap {
  position: absolute;
  left: -16.25rem;
  top: 3.125rem;
  z-index: 30;
  width: 21.875rem;
  height: 15.625rem;
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 0 0 15px 0 black;
  border-radius: 0.625rem;
}
nav .nav-container .nav_right-sec .cart-container .cart-wrap .cart-heading {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem;
}
nav .nav-container .nav_right-sec .cart-container .cart-wrap .divider {
  width: 100%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.616);
}
nav .nav-container .nav_right-sec .cart-container .cart-wrap .empty {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-container .nav_right-sec .cart-container .cart-wrap .cart-content {
  height: 12.5rem;
}
nav .nav-container .nav_right-sec .cart-container .cart-wrap .cart-content .product div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav .nav-container .nav_right-sec .avatar {
  cursor: pointer;
  width: 3.125rem;
  margin: 1rem 0;
}
nav .nav-container .nav_right-sec .avatar:hover {
  outline: 2px solid hsl(26deg, 100%, 55%);
  border-radius: 50%;
}

main .thumbnails .product {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */